---
import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from '@vercel/analytics/astro'
import "@/styles/global.css";

const { title = "Starbucks | Clone" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <SpeedInsights />
    <Analytics />
  </body>
</html>
